@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?5pb377');
  src:  url('fonts/icomoon.eot?5pb377#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?5pb377') format('truetype'),
    url('fonts/icomoon.woff?5pb377') format('woff'),
    url('fonts/icomoon.svg?5pb377#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-15:before {
  content: "\e913";
  color: #7db93f;
}
.icon-30:before {
  content: "\e914";
  color: #7db93f;
}
.icon-liwu:before {
  content: "\e915";
  color: #7db93f;
}
.icon-rili:before {
  content: "\e916";
  color: #7db93f;
}
.icon-zhongguo .path1:before {
  content: "\e917";
  color: rgb(53, 54, 54);
}
.icon-zhongguo .path2:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(214, 75, 36);
}
.icon-zhongguo .path3:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(251, 220, 0);
}
.icon-chongdianqi:before {
  content: "\e900";
  color: #000;
}
.icon-erji .path1:before {
  content: "\e901";
  color: rgb(196, 96, 35);
}
.icon-erji .path2:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(196, 96, 35);
}
.icon-erji .path3:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(220, 221, 221);
}
.icon-erji .path4:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(196, 96, 35);
}
.icon-erji .path5:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(220, 221, 221);
}
.icon-erji .path6:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(196, 96, 35);
}
.icon-erji .path7:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(196, 96, 35);
}
.icon-erji .path8:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(196, 96, 35);
}
.icon-cart1:before {
  content: "\e909";
  color: #4E574B;
}
.icon-cart2:before {
  content: "\e909";
  color: #e6e6e6;
}
.icon-phone:before {
  content: "\e90a";
  color: #000;
}
.icon-phonewrapper:before {
  content: "\e90b";
  color: #000;
}
.icon-shujuxian:before {
  content: "\e90e";
  color: #000;
}
.icon-search:before {
  content: "\e90f";
  color: #4E574B;
}
.icon-yijia:before {
  content: "\e910";
  color: #EB0028;
}
.icon-user:before {
  content: "\e911";
  color: #4E574B;
}
.icon-zhoubianyou:before {
  content: "\e912";
  color: #000;
}
.icon-weibo:before {
  content: "\e90c";
  color: #4E574B;
}
.icon-weixin:before {
  content: "\e90d";
  color: #4E574B;
}
