		<%- include('header_add.html')%>

		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<div class="main-container-inner">
				<a class="menu-toggler" id="menu-toggler" href="#">
					<span class="menu-text"></span>
				</a>

				<%- include('sidebar.html') %>

				<div class="main-content">
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

						<ul class="breadcrumb">
							<li>
								<i class="icon-home home-icon"></i>
								<a href="index.html">首页</a>
							</li>
							<li class="active">添加分类</li>
						</ul><!-- .breadcrumb -->

						<div class="nav-search" id="nav-search">
							<form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="icon-search nav-search-icon"></i>
								</span>
							</form>
						</div><!-- #nav-search -->
					</div>

					<div class="page-content">

						<div class="page-header">
							<h1>
								添加分类								
							</h1>
						</div><!-- /.page-header -->

					<form class="form-horizontal" role="form">
							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right" for="form-field-1">分类名称:</label>

								<div class="col-sm-10" id="className">
									<input type="text" id="form-field-1" placeholder="" class="col-xs-10 col-sm-5">
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right" for="form-field-1">分类地址:</label>

								<div class="col-sm-10" id="classUrl">
									<input type="text" id="form-field-1" placeholder="" class="col-xs-10 col-sm-5">
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right" for="form-field-2">分类排序号:</label>

								<div class="col-sm-10" id="sort">
									<input type="text" id="form-field-2" placeholder="" class="col-xs-10 col-sm-5">
								</div>
							</div>
						
							
							<div class="form-group" >
								<label class="col-sm-2 control-label no-padding-right" for="form-field-1">分类描述:</label>

								<div class="col-sm-10" id="describe">
									<textarea type="password" id="form-field-1" placeholder="" class="col-xs-10 col-sm-5"></textarea>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right" for="form-field-1">分类图标:</label>

								<div class="col-sm-10" id="icon">
									<input type="text" id="form-field-2" placeholder="" class="col-xs-10 col-sm-5">
								</div>
							</div>
						 
							
							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right" for="form-field-1">分类状态:</label>

								<div class="col-sm-10">
									<label class="checkbox-inline">
										<input type="radio" id="inlineCheckbox1" value="option1" name="role"> 显示
									</label>
									<label class="checkbox-inline">
										<input type="radio" id="inlineCheckbox2" value="option2" name="role"> 隐藏
									</label>
								</div>
							</div>

						 
							<div class="form-group">
							 
								<div class="col-sm-6 center">
									<button class="btn btn-primary" id="btn" type="button">保存</button>
									<button class="btn btn-danger" id="clear" type="button">取消</button>
								</div>
							</div>
					</form>
					 
					</div>
				</div><!-- /.main-content -->
			
			</div><!-- /.main-container-inner -->

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="icon-double-angle-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->


		<%- include('footer.html')%>

		<script src="/admin/js/jquery-2.0.3.min.js"></script>
		
		<script>
			$(function () {

				$('#btn').click(function () {
					var className = $('#className input').val();
					var classUrl = $('#classUrl input').val()
					var sort = $('#sort input').val();
					var icon = $('#icon input').val();
					var description = $('#describe textarea').val();
					

					// console.log(className.length)

					if (className.length == '' || classUrl.length == '') {
						alert('名称跟地址不能为空');
						return;
					};
					
					//首先查找这个分类是否存在，如果存在就不添加，不存在就添加。
					$.get('/admin/category/add/getName', {className : className} , function(result) {
						
						if (result.success === 'error') {
							alert(result.data)
						}else {
							$.post('/admin/category/add/addCategory', {className: className, classUrl: classUrl, sort: sort, icon: icon, description: description} ,function (result) {

								if (result.success === 'success') {
									alert(result.data);
									window.location.href = '/admin/category/list'
								} else {
									alert(result.data);
								} 
							});
						}
					});
				});

				$('#clear').click(function () {
					window.location.href = '/admin/category/list'

				});
			});
		</script>
	
</body>
</html>

