
		<%- include('header_add.html')%>

		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<div class="main-container-inner">
				<a class="menu-toggler" id="menu-toggler" href="#">
					<span class="menu-text"></span>
				</a>

				<%- include('sidebar.html') %>

				<div class="main-content">
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

						<ul class="breadcrumb">
							<li>
								<i class="icon-home home-icon"></i>
								<a href="index.html">首页</a>
							</li>
							<li class="active">编辑导航</li>
						</ul><!-- .breadcrumb -->

						<div class="nav-search" id="nav-search">
							<form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="icon-search nav-search-icon"></i>
								</span>
							</form>
						</div><!-- #nav-search -->
					</div>

					<div class="page-content">

						<div class="page-header">
							<h1>
								编辑导航								
							</h1>
						</div><!-- /.page-header -->

					<form class="form-horizontal" role="form">

						<div class="form-group">
							<!-- 定义一个隐藏id -->
							<div class="col-sm-10" id="navId">
								<input type="hidden" id="form-field-1" value="<%= data.id %>" placeholder="" class="col-xs-10 col-sm-5">
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label no-padding-right" for="form-field-1">导航名称:</label>

							<div class="col-sm-10" id="navName">
								<input type="text" id="form-field-1" value="<%= data.nav_name %>" placeholder="" class="col-xs-10 col-sm-5">
							</div>
						</div>


						<div class="form-group">
							<label class="col-sm-2 control-label no-padding-right" for="form-field-2">导航地址:</label>

							<div class="col-sm-10" id="navUrl">
								<input type="text" id="form-field-2" value="<%= data.nav_url %>" placeholder="" class="col-xs-10 col-sm-5">
							</div>
						</div>
					
						
						<div class="form-group">
							<label class="col-sm-2 control-label no-padding-right" for="form-field-1">导航状态:</label>

							<div class="col-sm-10">
								<label class="checkbox-inline">
									<input type="radio" id="inlineCheckbox1" value="option1" name="role"> 显示
								</label>
								<label class="checkbox-inline">
									<input type="radio" id="inlineCheckbox2" value="option2" name="role"> 隐藏
								</label>
							</div>
						</div>

							
						<div class="form-group">
							
							<div class="col-sm-6 center">
								<button class="btn btn-primary" id="btn" type="button">保存</button>
								<button class="btn btn-danger" id="clear" type="button">取消</button>
							</div>
						</div>
					</form>
					 
					</div>
				</div><!-- /.main-content -->
			
			</div><!-- /.main-container-inner -->

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="icon-double-angle-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->

		<%- include('footer.html')%>

		<script src="/admin/js/jquery-2.0.3.min.js"></script>

		<script>
			$(function () {
				$('#btn').click(function () {
					if ($('#navName input').val().length == '' || $('#navUrl input').val().length == '') {
						alert('导航名跟地址不能为空');
						return;
					};

					$.get('/admin/nav/edit/update', {id: $("#navId input").val(), navName: $('#navName input').val(), navUrl: $('#navUrl input').val()}, function (result) {
						
						if (result.success === 'success') {
							alert(result.data);
							window.location.href = '/admin/nav/list';
						}else{
							alert(result.data)
						}
					})
				});

				//取消
				$('#clear').click(function () {
					window.location.href= '/admin/nav/list';
				});
			});
		</script>
</body>
</html>

