
		<%- include('header_add.html')%>

		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<div class="main-container-inner">
				<a class="menu-toggler" id="menu-toggler" href="#">
					<span class="menu-text"></span>
				</a>

				<%- include('sidebar.html') %>

				<div class="main-content">
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

						<ul class="breadcrumb">
							<li>
								<i class="icon-home home-icon"></i>
								<a href="#">首页</a>
							</li>
							<li class="active">添加用户</li>
						</ul><!-- .breadcrumb -->

						<div class="nav-search" id="nav-search">
							<form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="icon-search nav-search-icon"></i>
								</span>
							</form>
						</div><!-- #nav-search -->
					</div>

					<div class="page-content">

						<div class="page-header">
							<h1>
								添加用户								
							</h1>
						</div><!-- /.page-header -->

					<form class="form-horizontal" role="form">
							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right" for="form-field-1">用户名:</label>

								<div class="col-sm-10" id="user">
									<input type="text" id="form-field-1" placeholder="" class="col-xs-10 col-sm-5">
								</div>
							</div>


							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right" for="form-field-2">邮箱:</label>

								<div class="col-sm-10" id="email">
									<input type="text" id="form-field-2 email" placeholder="" class="col-xs-10 col-sm-5">
								 
								</div>
							</div>
					 
							
							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right" for="form-field-1">密码:</label>

								<div class="col-sm-10" id="password">
									<input type="password" id="form-field-1" placeholder="" class="col-xs-10 col-sm-5">
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right" for="form-field-1">确认密码:</label>

								<div class="col-sm-10" id="repassword">
									<input type="password" id="form-field-1" placeholder="" class="col-xs-10 col-sm-5">
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right" for="form-field-1">角色:</label>

								<div class="col-sm-10">
									<label class="checkbox-inline">
										<input type="radio" id="inlineCheckbox1" value="option1" name="role"> 管理员
									</label>
									<label class="checkbox-inline">
										<input type="radio" id="inlineCheckbox2" value="option2" name="role"> 普通用户
									</label>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right" for="form-field-1">状态:</label>

								<div class="col-sm-10">
									<label class="checkbox-inline">
										<input type="radio" id="inlineCheckbox1" value="option1" name="status"> 激活
									</label>
									<label class="checkbox-inline">
										<input type="radio" id="inlineCheckbox2" value="option2" name="status"> 禁用
									</label>
								</div>
							</div>
							<div class="form-group">
							 
								<div class="col-sm-6 center">
									<button class="btn btn-primary" id="btn" type="button">保存</button>
									<button class="btn btn-danger" id="clear">取消</button>
								</div>
							</div>
					</form>
					 
					</div>
				</div><!-- /.main-content -->
			
			</div><!-- /.main-container-inner -->

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="icon-double-angle-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->


		<%- include('footer.html')%>

		<script src="/admin/js/jquery-2.0.3.min.js"></script>

		<script>
			$(function () {

				$('#btn').click(function () {
					// alert($('#user input').val())
					if ($('#user input').val().length == '' || $('#email input').val().length == '') {
						alert('用户名或邮箱不能为空');
						return;
					}

					if ($('#password input').val().length > 16 || $('#password input').val().length < 6) {
                        alert('密码长度必须是6-16位');
                        return;
                    };

                    if ($('#password input').val() !== $('#repassword input').val()) {
						alert('两次密码不一致,请重新输入')
                        return;
					};

					var newTime = new Date().getTime();

					/**
					 * 业务逻辑，点击提交之后，如果上面的条件都不满足，就查询邮箱是否存在，
					 * 如果存在就不执行下面代码，如果不存在就将新增加的用户增加到后台。
					*/
					
					$.get('/admin/user/add/getuser', {email:$('#email input').val()}, function (result) {
						//先验证邮箱是否存在
                        if (result.success === 'error') {
							alert('邮箱已经存在');
                        }else {
							//如果邮箱不存在，提交post请求
							$.post('/admin/user/add/userAdd', {username: $('#user input').val(), email: $('#email input').val(), password: $('#password input').val(), time: newTime}, function (result) {
								if (result.success === 'success') {
									alert(result.data);
								}else {
									alert(result.data);
								}
							});
                        }
                    });

				});

				$('#clear').click(function () {
					location.reload();
				});
			});
		</script>
	
</body>
</html>

