<div id="row" class="row">
        
        <% for(var i = 0; i < 10; i++) { %>
            <div class="group-list-item">
                <p><%= arrData.data4.course_name%></p>
                <p><span class="iconfont">&#xe6cc;</span>&nbsp;&nbsp;共<%= arrData.data4.course_num%>集</p>
            </div>
        <% } %>
        <!-- <div class="group-list-item">
            <p>photoshop基础</p>
            <p><span class="iconfont">&#xe6cc;</span>&nbsp;&nbsp;共2集</p>
        </div>
        <div class="group-list-item">
            <p>photoshop基础</p>
            <p><span class="iconfont">&#xe6cc;</span>&nbsp;&nbsp;共2集</p>
        </div>
        <div class="group-list-item">
            <p>photoshop基础</p>
            <p><span class="iconfont">&#xe6cc;</span>&nbsp;&nbsp;共2集</p>
        </div>
        <div class="group-list-item">
            <p>photoshop基础</p>
            <p><span class="iconfont">&#xe6cc;</span>&nbsp;&nbsp;共2集</p>
        </div>
        <div class="group-list-item">
            <p>photoshop基础</p>
            <p><span class="iconfont">&#xe6cc;</span>&nbsp;&nbsp;共2集</p>
        </div>
        <div class="group-list-item">
            <p>photoshop基础</p>
            <p><span class="iconfont">&#xe6cc;</span>&nbsp;&nbsp;共2集</p>
        </div>
        <div class="group-list-item">
            <p>Photoshop基础</p>
            <p><span class="iconfont">&#xe6cc;</span>&nbsp;&nbsp;共2集</p>
        </div>
        <div class="group-list-item">
            <p>photoshop基础</p>
            <p><span class="iconfont">&#xe6cc;</span>&nbsp;&nbsp;共2集</p>
        </div>
        <div class="group-list-item">
            <p>photoshop基础</p>
            <p><span class="iconfont">&#xe6cc;</span>&nbsp;&nbsp;共2集</p>
        </div> -->
    </div>